/**
* Custom scrollbar styles 
* use if tailwind or shad cn scroll area do not work
*/
.scrollContainerFilterDropdown {
  max-height: 25rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #6366f1 transparent;
}

.scrollContainerNormalDropdown {
  max-height: 25rem;
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}

.scrollContainer {
  overflow-y: auto;
  scrollbar-width: thin;
  scrollbar-color: #4b5563 transparent;
}
